<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f6959738-1411-4787-b128-4a9886ce18aa/resourceGroups/SoareNitaGameServer_group/providers/Microsoft.Web/sites/SoareNitaGameServer</ResourceId>
    <ResourceGroup>SoareNitaGameServer_group</ResourceGroup>
    <ApiResourceId>/subscriptions/f6959738-1411-4787-b128-4a9886ce18aa/resourceGroups/SoareNitaGameServer_group/providers/Microsoft.ApiManagement/service/SoareAlexGameServerWebAPI/apis/SoareAlexGameServerWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://soarenitagameserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4b8e9106-da7c-4110-ad26-7f632c1d3a24</ProjectGuid>
    <MSDeployServiceURL>soarenitagameserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SoareNitaGameServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SoareNitaGameServer</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>